*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    font-size: 10px;
    --theme-color: #4eacf8;
    --theme-hover-color: #0099ff;
    --shadow-color:#EBEFF5;
    --icon-color: #e1e0e0;
}

form,input,fieldset,legend,button,a{
    all:unset;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}